* { 
	@include box-sizing(border-box); 
}

body {
	font-family: $font-family-body;
	background: $color-two url('../images/bg.png') no-repeat;
	line-height: $line-height;
}

a {
	text-decoration: none;
}
