@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,300|Open+Sans:400italic,400);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* =========== Semantic fluid grid */
/*

    Use '@include grid(12, 2)' to make a column. 
    The first unit (12) is the column width.
    The second unit (2) is the margin on both sides.
    The margin will be auto substracted from the column width.
    So don't recalculate the column width if you change your margin.
    
    To set different margins on both sides use '@include grid(12, 2, 3)'.
    You can also use negative margins.
    
*/
/* Use this mixin to reset your grid by example for your mobile articles */
/* The clearfix mixin is necessary for the floats */
/* line 1, ../sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 5, ../sass/_base.scss */
body {
  font-family: "Open Sans", sans-serif;
  background: #cccccc url("../images/bg.png") no-repeat;
  line-height: 1.4em; }

/* line 11, ../sass/_base.scss */
a {
  text-decoration: none;
  color: #212121; }

/* line 16, ../sass/_base.scss */
p {
  margin-top: 1em;
  margin-bottom: 1em; }

/* line 1, ../sass/layout/_l-wrapper.scss */
.l-wrapper {
  max-width: 960px;
  margin: 0 auto;
  overflow: auto;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333; }

/* line 1, ../sass/layout/_header.scss */
#header {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%; }

/* line 1, ../sass/layout/_l-featured.scss */
.l-featured {
  float: left;
  width: 95.83333%;
  margin-left: 2.08333%;
  margin-right: 2.08333%; }

/* line 1, ../sass/layout/_l-heroes.scss */
.l-heroes {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%; }

/* line 1, ../sass/layout/_footer.scss */
#footer {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  height: 160px;
  background-color: #212121;
  color: white;
  font-size: 12px; }
  /* line 7, ../sass/layout/_footer.scss */
  #footer ul {
    float: left;
    width: 95.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%;
    padding-top: 1em; }
  /* line 11, ../sass/layout/_footer.scss */
  #footer li {
    display: inline; }

/* line 1, ../sass/layout/_l-aside.scss */
.l-aside {
  float: left;
  width: 29.16667%;
  margin-left: 2.08333%;
  margin-right: 2.08333%; }

/* line 1, ../sass/module/_nav.scss */
.nav {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%; }
  /* line 3, ../sass/module/_nav.scss */
  .nav * {
    float: left; }

/* line 1, ../sass/module/_nav-main.scss */
.nav-main {
  background: url("../images/header.png") repeat-x; }
  /* line 3, ../sass/module/_nav-main.scss */
  .nav-main .logo {
    margin: 0 6px;
    background-image: url("../images/logo.png");
    width: 220px;
    height: 140px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; }
  /* line 12, ../sass/module/_nav-main.scss */
  .nav-main ul {
    margin-top: 40px;
    margin-left: 20px; }
    /* line 15, ../sass/module/_nav-main.scss */
    .nav-main ul li {
      margin-right: 1em; }
  /* line 19, ../sass/module/_nav-main.scss */
  .nav-main input {
    font-size: 14px;
    padding: 6px;
    margin-right: 1em;
    height: 38px;
    width: 270px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  /* line 27, ../sass/module/_nav-main.scss */
  .nav-main .globe {
    margin-top: 36px;
    width: 48px;
    height: 48px;
    background: url("../images/globe.png") no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; }

/* line 1, ../sass/module/_nav-tabs.scss */
.nav-tabs {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 1.4em;
  font-size: 14px; }
  /* line 5, ../sass/module/_nav-tabs.scss */
  .nav-tabs ul {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    border-bottom: 1px solid #cccccc; }
    /* line 8, ../sass/module/_nav-tabs.scss */
    .nav-tabs ul li {
      border-top: 1px solid #cccccc;
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      padding: 8px; }

/* line 1, ../sass/module/_nav-sub.scss */
.nav-sub {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  background-color: #e6e6e6;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  margin-top: 1.4em;
  margin-bottom: 1.4em; }
  /* line 8, ../sass/module/_nav-sub.scss */
  .nav-sub select {
    height: 40px;
    padding: 10px; }

/* line 1, ../sass/module/_thumb.scss */
.thumb {
  float: left;
  width: 31.25%;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  background-color: #e6e6e6;
  border: 1px solid #999999;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  /* line 8, ../sass/module/_thumb.scss */
  .thumb img {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 6px; }
  /* line 12, ../sass/module/_thumb.scss */
  .thumb h1 {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 10px;
    font-family: "Merriweather", sans-serif;
    color: #00b3e1; }
  /* line 18, ../sass/module/_thumb.scss */
  .thumb a {
    display: block;
    overflow: auto; }
  /* line 22, ../sass/module/_thumb.scss */
  .thumb ul {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 10px;
    border-top: 1px solid #999999; }
    /* line 26, ../sass/module/_thumb.scss */
    .thumb ul li {
      font-size: 12px;
      float: left;
      width: 50%;
      margin-left: 0%;
      margin-right: 0%;
      text-align: center; }
  /* line 32, ../sass/module/_thumb.scss */
  .thumb:hover {
    background-color: #cccccc;
    cursor: pointer;
    border: 1px solid white; }
    /* line 36, ../sass/module/_thumb.scss */
    .thumb:hover ul {
      border-top: 1px solid white; }
  /* line 40, ../sass/module/_thumb.scss */
  .thumb a {
    color: #999999; }

/* line 1, ../sass/module/_hero.scss */
.hero {
  float: left;
  width: 62.5%;
  margin-left: 2.08333%;
  margin-right: 2.08333%;
  font-size: 12px; }
  /* line 4, ../sass/module/_hero.scss */
  .hero h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    margin-top: 1.4em;
    margin-bottom: 1.4em;
    text-transform: uppercase; }
  /* line 13, ../sass/module/_hero.scss */
  .hero img embed,
  .hero .video embed {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }

/* line 1, ../sass/module/_intro.scss */
.intro {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  color: #00b3e1;
  font-family: "Merriweather", sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  border-bottom: 1px solid #cccccc; }

/* line 1, ../sass/module/_slide.scss */
.slide {
  height: 400px; }

/* line 5, ../sass/module/_slide.scss */
#jerzy {
  background-image: url("../images/jerzy.jpg"); }

/* line 1, ../sass/module/_update.scss */
.update {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 1.4em;
  margin-bottom: 1.4em; }
  /* line 6, ../sass/module/_update.scss */
  .update header h1 {
    font-family: "Merriweather", sans-serif;
    color: #00b3e1;
    font-size: 18px;
    margin: 0; }

/* line 1, ../sass/module/_button.scss */
.button {
  padding: 8px 16px;
  background-color: #cccccc;
  border-top: 1px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333; }

/* line 1, ../sass/module/_button-action.scss */
.button-action {
  background-color: #f15022;
  color: white; }

/* line 1, ../sass/module/_donation.scss */
.donation {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  font-size: 12px;
  background-color: #c9eddd;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  padding-top: 1.4em;
  padding-bottom: 1.4em; }
  /* line 9, ../sass/module/_donation.scss */
  .donation .price {
    float: left;
    width: 29.16667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%;
    font-size: 18px;
    text-align: center; }
  /* line 14, ../sass/module/_donation.scss */
  .donation .reward {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: 0%; }
  /* line 17, ../sass/module/_donation.scss */
  .donation:hover {
    background-color: #3aaa35;
    cursor: pointer; }

/* line 1, ../sass/module/_fans.scss */
.fans {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  font-size: 36px;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 1.7em; }
  /* line 7, ../sass/module/_fans.scss */
  .fans .number {
    color: #00b3e1; }
