.slide {
	height: 400px;
}

#jerzy {
	background-image: url('../images/jerzy.jpg');
}

#muzikant {
	background-image: url('../images/muzikant.jpg');
}

#kunstenaar {
	background-image: url('../images/kunstenaar.jpg');
}
